# Local Dev
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PRICING_TABLE_ID=""
STRIPE_PRICE_ID_TEN_CREDIT=""
STRIPE_PRICE_ID_THIRTY_CREDITS=""
STRIPE_PRICE_ID_FIFTY_CREDITS=""

# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_SERVICE_ROLE_KEY=""
