@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
  @apply antialiased text-navy-100 bg-navy-800 scroll-smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  @apply m-0 p-0 h-full w-full;
  font-family: var(--font-inter);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100%;
}

*:focus {
  @apply outline-none ring-0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply relative inline-block;
}

a::after {
  content: '';
  @apply absolute w-full h-0.5 -bottom-0.5 left-0 transition-transform duration-200 ease-out;
  transform: scaleX(0);
  background-color: currentColor;
  transform-origin: bottom right;
}

a:not(.no-underline):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}

.animated {
  @apply duration-1000;
  animation-fill-mode: both;
}
